/*-------------------------Team---------------------------*/

.team {
  background-color: #f5f4fa;
}
.team__title {
  @extend %title;
}
.team__list {
  margin: 0; /*reset */
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team__item {
  margin: 0; /*reset */
  padding: 0;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background-color: $background-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
}

.team__text-box {
  padding-top: 30px;
  padding-bottom: 16px;
  p {
    @include font(400, 16px, 1.2, null);
    text-align: center;
    color: $icon-color;
  }
  h3 {
    @include font(null, 16px, 1.2, null);
    margin-bottom: 10px;
    text-align: center;
    color: $primary-text-color;
  }
}
